<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marijannovak.autismhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.login.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.MainActivity"
            android:label="@string/parent_child" />
        <activity
            android:name=".modules.parent.ParentActivity"
            android:label="@string/parent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.child.PickCategoryActivity"
            android:label="@string/pick_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.login.SignUpActivity"
            android:label="@string/sign_up" />
        <activity android:name=".modules.child.QuizActivity" />
        <activity android:name=".modules.child.AACActivity"></activity>
    </application>

</manifest>